.story-card {
    width: 225px;
    height: 425px;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #0A2D35;
}

.story-card.selected {
    border: 2px solid #FFFFFF;
    transform: scale(1.1);
}

.story-card .card-title {
    font-size: 1rem;
    font-weight: bold;
    color: #FFD966;
}

.story-card .card-text {
    font-size: 1rem;
    color: #FFFFFF;
}

.story-card p {
    font-size: 0.9rem;
    color: #c4c4c4;
}

/* Sidebar for NPCs */
.npc-sidebar {
    position: fixed;
    top: 100px;
    right: 0;
    width: 300px;
    height: calc(100vh - 100px);
    padding: 20px;
    background-color: #14333B;
    border-radius: 10px;
    box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.npc-header {
    color: #FFD966;
    text-align: center;
    margin-bottom: 15px;
}

.npc-card {
    background-color: #1c3b42;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.npc-card:hover {
    transform: scale(1.05);
}

.npc-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFD966;
}

.npc-role, .npc-description {
    font-size: 1rem;
    color: #c4c4c4;
}
